# Что будет
- сводные таблицы
- фильтры и вычисления с помощью метода loc
- фильтрация пустых значений через isnull
- время в pandas
- строковые методы
- немного про учет форм слов

# Сводные таблицы
Прям как в экселе

In [1]:
import pandas as pd

In [2]:
ratings = pd.read_csv('ml-latest-small/ratings.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

### Упражнение
Какие оценки поставил пользователь №1 и в каком количестве?

Что делаем:
1. Фильтруем датафрейм ratings для userId = 1
2. Считаем для этого пользователя сколько он выставил единиц, двоек итд

In [7]:
ratings[ratings.userId == 1].groupby('rating').count()['userId']

rating
1.0    2
2.0    7
2.5    3
3.0    4
3.5    1
4.0    3
Name: userId, dtype: int64

In [9]:
len(ratings.userId.unique())

671

In [10]:
?ratings.pivot_table

Как это сделать для всех пользователей сразу:

In [11]:
ratings.pivot_table(index = 'userId', columns = 'rating', values = 'timestamp', aggfunc = 'count', fill_value = 0).head()

rating  0.5  1.0  1.5  2.0  2.5  3.0  3.5  4.0  4.5  5.0
userId
1         0    2    0    7    3    4    1    3    0    0
2         0    2    0    4    0   36    0   23    0   11
3         0    0    0    1    3   18    9   11    4    5
4         0    5    0    5    0   23    0   52    0  119
5         0    0    1    0    3    3   27   42   19    5

In [12]:
# можно итоги добавить
ratings.pivot_table(index = 'userId', columns = 'rating', values = 'timestamp', aggfunc = 'count', fill_value = 0, 
                    margins = True).head()

rating  0.5  1.0  1.5  2.0  2.5  3.0  3.5  4.0  4.5  5.0  All
userId
1         0    2    0    7    3    4    1    3    0    0   20
2         0    2    0    4    0   36    0   23    0   11   76
3         0    0    0    1    3   18    9   11    4    5   51
4         0    5    0    5    0   23    0   52    0  119  204
5         0    0    1    0    3    3   27   42   19    5  100

### Упражнение
Какой пользователь выставил больше всех пятерок?

In [35]:
r2 = ratings.pivot_table(index = 'userId', columns = 'rating', values = 'timestamp', aggfunc = 'count')
r2.sort_values(by=[5], ascending=False).head(1).index[0]

564

### Фильтры и вычисления с помощью loc и iloc

In [87]:
log = pd.read_csv('visit_log.csv', sep=';')
log.head()

,timestamp,visit_id,url,region,user_id,traffic_source
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex

### Но сначала упражнение
Сколько различных страниц есть в столбце url? Постройте топ-5 страниц по посещаемости.

Бонусный вариант: выведите топ-5 страниц без указания хоста https://host.ru

In [41]:
def urls(data):
    length = len(data) + 1
    return data[16:length]

In [42]:
log['new'] = log.url.apply(urls)

In [43]:
log.head()

,timestamp,visit_id,url,region,user_id,traffic_source,new
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex,3c19b4ef7371864fa3
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct,c8d9213a31839f9a3a
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex,b8b58337d272ee7b15
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex,b8b58337d272ee7b15
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex,b8b58337d272ee7b15

In [44]:
# метод loc позволяет выбрать строки и столбцы в соответствии с условиями
# двоеточие означает выбор всех значений

log.loc[:, ['user_id', 'region']].head()

      user_id  region
0  b1613cc09f  Russia
1  4c3ec14bee  Russia
2  a8c40697fb  Russia
3  521ac1d6a0  Russia
4  d7323c571c  Russia

In [45]:
# iloc работает аналогично, но с указанием номера строки / столбца

log.iloc[:, [1, -3]].head()

     visit_id     user_id
0  e3b0c44298  b1613cc09f
1  6e340b9cff  4c3ec14bee
2  96a296d224  a8c40697fb
3  709e80c884  521ac1d6a0
4  df3f619804  d7323c571c

In [46]:
# пример фильтра на страну
# если столбцы не надо фильтровать, то второй параметр можно не указывать

log.loc[log.region == 'Russia'].head()

,timestamp,visit_id,url,region,user_id,traffic_source,new
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex,3c19b4ef7371864fa3
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct,c8d9213a31839f9a3a
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex,b8b58337d272ee7b15
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex,b8b58337d272ee7b15
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex,b8b58337d272ee7b15

In [47]:
# пример вычисления нового столбца с НДС для страны

log.loc[log.region == 'Russia', 'VAT'] = 1.2
log.head(10)

,timestamp,visit_id,url,region,user_id,traffic_source,new,VAT
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex,3c19b4ef7371864fa3,1.2
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct,c8d9213a31839f9a3a,1.2
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex,b8b58337d272ee7b15,1.2
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex,b8b58337d272ee7b15,1.2
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex,b8b58337d272ee7b15,1.2
5,1549980742,8855508aad,https://host.ru/df646c3676cc259fa0,Russia,fc43898e47,yandex,df646c3676cc259fa0,1.2
6,1549980742,b0f66adc83,https://host.ru/b8b58337d272ee7b15,Russia,13fc55e781,paid,b8b58337d272ee7b15,1.2
7,1549980754,837885c8f8,https://host.ru/108ce4b365afb7b88e,Russia,cb5082b6f6,direct,108ce4b365afb7b88e,1.2
8,1549980760,af5570f5a1,https://host.ru/3004a8273caeef2867,China,45664f7af2,direct,3004a8273caeef2867,NaN
9,1549980765,3e7077fd2f,https://host.ru/df646c3676cc259fa0,Russia,6f9de8c8b6,email,df646c3676cc259fa0,1.2

In [ ]:
# вариант с вычисляемым фильтром

log.loc[lambda row: row.region == 'Russia'].head(10)

### Упражнение
Какие варианты источников трафика есть в столбце traffic_source?

Создайте столбец traffic_type, в котором для источников 'yandex' и 'google' будет стоять значение 'organic'. А для остальных вариантов - NaN.

In [62]:
log.loc[((log.traffic_source == 'yandex') | (log.traffic_source == 'google')) , 'traffic_type'] = 'organic'

In [63]:
log.head(15)

,timestamp,visit_id,url,region,user_id,traffic_source,new,VAT,traffic_type
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex,3c19b4ef7371864fa3,1.2,organic
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct,c8d9213a31839f9a3a,1.2,NaN
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex,b8b58337d272ee7b15,1.2,organic
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex,b8b58337d272ee7b15,1.2,organic
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex,b8b58337d272ee7b15,1.2,organic
5,1549980742,8855508aad,https://host.ru/df646c3676cc259fa0,Russia,fc43898e47,yandex,df646c3676cc259fa0,1.2,organic
6,1549980742,b0f66adc83,https://host.ru/b8b58337d272ee7b15,Russia,13fc55e781,paid,b8b58337d272ee7b15,1.2,NaN
7,1549980754,837885c8f8,https://host.ru/108ce4b365afb7b88e,Russia,cb5082b6f6,direct,108ce4b365afb7b88e,1.2,NaN
8,1549980760,af5570f5a1,https://host.ru/3004a8273caeef2867,China,45664f7af2,direct,3004a8273caeef2867,NaN,NaN
9,1549980765,3e7077fd2f,https://host.ru/df646c3676cc259fa0,Russia,6f9de8c8b6,email,df646c3676cc259fa0,1.2,NaN
10,1549980777,01d448afd9,https://host.ru/a5dda93e70318570c0,India,27e76a4a80,direct,a5dda93e70318570c0,NaN,NaN
11,1549980785,71b6c1d538,https://host.ru/c8d9213a31839f9a3a,Ukraine,3b13701488,google,c8d9213a31839f9a3a,NaN,organic
12,1549980789,15ec7bf0b5,https://host.ru/8e88d4703848cc0ec4,Russia,6d1d81f7f8,paid,8e88d4703848cc0ec4,1.2,NaN
13,1549980792,dd46c3eebb,https://host.ru/3004a8273caeef2867,China,7e301c8c41,direct,3004a8273caeef2867,NaN,NaN
14,1549980793,e7ecebbc59,https://host.ru/05e41944dd85a900a6,Belarus,ac52dedc3b,direct,05e41944dd85a900a6,NaN,NaN

In [68]:
log.loc[log.traffic_source.isin(['yandex', 'google']), 'col'] = 'organic'
log.head(15)

,timestamp,visit_id,url,region,user_id,traffic_source,new,VAT,traffic_type,col
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex,3c19b4ef7371864fa3,1.2,organic,organic
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct,c8d9213a31839f9a3a,1.2,NaN,NaN
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex,b8b58337d272ee7b15,1.2,organic,organic
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex,b8b58337d272ee7b15,1.2,organic,organic
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex,b8b58337d272ee7b15,1.2,organic,organic
5,1549980742,8855508aad,https://host.ru/df646c3676cc259fa0,Russia,fc43898e47,yandex,df646c3676cc259fa0,1.2,organic,organic
6,1549980742,b0f66adc83,https://host.ru/b8b58337d272ee7b15,Russia,13fc55e781,paid,b8b58337d272ee7b15,1.2,NaN,NaN
7,1549980754,837885c8f8,https://host.ru/108ce4b365afb7b88e,Russia,cb5082b6f6,direct,108ce4b365afb7b88e,1.2,NaN,NaN
8,1549980760,af5570f5a1,https://host.ru/3004a8273caeef2867,China,45664f7af2,direct,3004a8273caeef2867,NaN,NaN,NaN
9,1549980765,3e7077fd2f,https://host.ru/df646c3676cc259fa0,Russia,6f9de8c8b6,email,df646c3676cc259fa0,1.2,NaN,NaN
10,1549980777,01d448afd9,https://host.ru/a5dda93e70318570c0,India,27e76a4a80,direct,a5dda93e70318570c0,NaN,NaN,NaN
11,1549980785,71b6c1d538,https://host.ru/c8d9213a31839f9a3a,Ukraine,3b13701488,google,c8d9213a31839f9a3a,NaN,organic,organic
12,1549980789,15ec7bf0b5,https://host.ru/8e88d4703848cc0ec4,Russia,6d1d81f7f8,paid,8e88d4703848cc0ec4,1.2,NaN,NaN
13,1549980792,dd46c3eebb,https://host.ru/3004a8273caeef2867,China,7e301c8c41,direct,3004a8273caeef2867,NaN,NaN,NaN
14,1549980793,e7ecebbc59,https://host.ru/05e41944dd85a900a6,Belarus,ac52dedc3b,direct,05e41944dd85a900a6,NaN,NaN,NaN

### Методы isnull, isna
Определение пустых или None значений. По сути одинаковые методы

In [70]:
import numpy as np

In [71]:
df = pd.DataFrame({'value': [123, None, np.nan, np.NaN, np.NAN, 456]})
df

   value
0  123.0
1    NaN
2    NaN
3    NaN
4    NaN
5  456.0

In [74]:
# фильтр на пустые значения в столбце value

df.loc[pd.isnull(df.value), :]

   value
1    NaN
2    NaN
3    NaN
4    NaN

In [75]:
df.loc[~pd.isnull(df.value), :]

   value
0  123.0
5  456.0

### Упражнение
Для пустых значений в столбце traffic_type выставьте значение 'other'

In [82]:
log.loc[pd.isnull(log.traffic_type), 'traffic_type'] = 'other'

In [83]:
log.head(15)

,timestamp,visit_id,url,region,user_id,traffic_source,new,VAT,traffic_type,col
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex,3c19b4ef7371864fa3,1.2,organic,organic
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct,c8d9213a31839f9a3a,1.2,other,NaN
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex,b8b58337d272ee7b15,1.2,organic,organic
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex,b8b58337d272ee7b15,1.2,organic,organic
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex,b8b58337d272ee7b15,1.2,organic,organic
5,1549980742,8855508aad,https://host.ru/df646c3676cc259fa0,Russia,fc43898e47,yandex,df646c3676cc259fa0,1.2,organic,organic
6,1549980742,b0f66adc83,https://host.ru/b8b58337d272ee7b15,Russia,13fc55e781,paid,b8b58337d272ee7b15,1.2,other,NaN
7,1549980754,837885c8f8,https://host.ru/108ce4b365afb7b88e,Russia,cb5082b6f6,direct,108ce4b365afb7b88e,1.2,other,NaN
8,1549980760,af5570f5a1,https://host.ru/3004a8273caeef2867,China,45664f7af2,direct,3004a8273caeef2867,NaN,other,NaN
9,1549980765,3e7077fd2f,https://host.ru/df646c3676cc259fa0,Russia,6f9de8c8b6,email,df646c3676cc259fa0,1.2,other,NaN
10,1549980777,01d448afd9,https://host.ru/a5dda93e70318570c0,India,27e76a4a80,direct,a5dda93e70318570c0,NaN,other,NaN
11,1549980785,71b6c1d538,https://host.ru/c8d9213a31839f9a3a,Ukraine,3b13701488,google,c8d9213a31839f9a3a,NaN,organic,organic
12,1549980789,15ec7bf0b5,https://host.ru/8e88d4703848cc0ec4,Russia,6d1d81f7f8,paid,8e88d4703848cc0ec4,1.2,other,NaN
13,1549980792,dd46c3eebb,https://host.ru/3004a8273caeef2867,China,7e301c8c41,direct,3004a8273caeef2867,NaN,other,NaN
14,1549980793,e7ecebbc59,https://host.ru/05e41944dd85a900a6,Belarus,ac52dedc3b,direct,05e41944dd85a900a6,NaN,other,NaN

In [84]:
log.loc[pd.isnull(log.col), : ] = 'other'
log.head(15)

,timestamp,visit_id,url,region,user_id,traffic_source,new,VAT,traffic_type,col
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex,3c19b4ef7371864fa3,1.2,organic,organic
1,other,other,other,other,other,other,other,other,other,other
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex,b8b58337d272ee7b15,1.2,organic,organic
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex,b8b58337d272ee7b15,1.2,organic,organic
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex,b8b58337d272ee7b15,1.2,organic,organic
5,1549980742,8855508aad,https://host.ru/df646c3676cc259fa0,Russia,fc43898e47,yandex,df646c3676cc259fa0,1.2,organic,organic
6,other,other,other,other,other,other,other,other,other,other
7,other,other,other,other,other,other,other,other,other,other
8,other,other,other,other,other,other,other,other,other,other
9,other,other,other,other,other,other,other,other,other,other
10,other,other,other,other,other,other,other,other,other,other
11,1549980785,71b6c1d538,https://host.ru/c8d9213a31839f9a3a,Ukraine,3b13701488,google,c8d9213a31839f9a3a,NaN,organic,organic
12,other,other,other,other,other,other,other,other,other,other
13,other,other,other,other,other,other,other,other,other,other
14,other,other,other,other,other,other,other,other,other,other

### Дата и время в pandas

In [88]:
log['date'] = pd.to_datetime(log['timestamp'], unit='s')
log.head()

,timestamp,visit_id,url,region,user_id,traffic_source,date
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex,2019-02-12 14:11:32
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct,2019-02-12 14:11:44
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex,2019-02-12 14:11:55
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex,2019-02-12 14:12:05
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex,2019-02-12 14:12:16

In [89]:
# столбец datetime64[ns] теперь имеет тип даты
log.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18938 entries, 0 to 18937
Data columns (total 7 columns):
timestamp         18938 non-null int64
visit_id          18938 non-null object
url               18938 non-null object
region            18938 non-null object
user_id           18938 non-null object
traffic_source    18938 non-null object
date              18938 non-null datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(5)
memory usage: 1.0+ MB

In [90]:
# получим час визита

log['hour'] = log.date.dt.hour
log.head()

,timestamp,visit_id,url,region,user_id,traffic_source,date,hour
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex,2019-02-12 14:11:32,14
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct,2019-02-12 14:11:44,14
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex,2019-02-12 14:11:55,14
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex,2019-02-12 14:12:05,14
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex,2019-02-12 14:12:16,14

### Упражнение
Дан датафрейм df с временем визита и соответствующей покупки. Сделайте следующее:
1. Создайте столбцы visit_dt и purchase_dt типа datetime из столбцов visit_datetime и purchase_datetime
2. Посчитайте разницу между временем визита и покупки (простым вычитанием)
3. Переведите полученный столбец с длительностью покупки в минуты:
```python
(df.purchase_dt - df.visit_dt).astype('timedelta64[m]')
```
4. Посчитайте среднее время покупки в минутах

In [91]:
df = pd.DataFrame({'visit_datetime': ['2019-11-04T00:05:13', '2019-11-04T00:06:19', '2019-11-04T01:35:14'], 
                   'purchase_datetime': ['2019-11-04T00:15:53', '2019-11-04T00:07:59', '2019-11-04T03:15:30']})
df

        visit_datetime    purchase_datetime
0  2019-11-04T00:05:13  2019-11-04T00:15:53
1  2019-11-04T00:06:19  2019-11-04T00:07:59
2  2019-11-04T01:35:14  2019-11-04T03:15:30

In [99]:
df['purchase_dt'] = pd.to_datetime(df.purchase_datetime)
df['visit_dt'] = pd.to_datetime(df.visit_datetime)
df['diff'] = df['purchase_dt'] - df['visit_dt']
df['diff'].astype('timedelta64[m]')
df

,visit_datetime,purchase_datetime,purchase_dt,visit_dt,diff
0,2019-11-04T00:05:13,2019-11-04T00:15:53,2019-11-04 00:15:53,2019-11-04 00:05:13,00:10:40
1,2019-11-04T00:06:19,2019-11-04T00:07:59,2019-11-04 00:07:59,2019-11-04 00:06:19,00:01:40
2,2019-11-04T01:35:14,2019-11-04T03:15:30,2019-11-04 03:15:30,2019-11-04 01:35:14,01:40:16

In [100]:
df['diff'].mean()

Timedelta('0 days 00:37:32')

### Методы работы со строками

In [ ]:
stats = pd.read_csv('keywords.csv')
stats.head()

Проверка наличия подстроки в строке в питоне:

In [ ]:
'охотник' in 'каждый охотник желает знать...'

Аналог в pandas:

In [ ]:
stats[stats.keyword.str.contains('охотник')].head()

[Документация](https://www.geeksforgeeks.org/python-pandas-series-str-contains/)

Syntax: Series.str.contains(pat, case=True, flags=0, na=nan, regex=True)

Parameter :
- pat : Character sequence or regular expression.
- case : If True, case sensitive.
- flags : Flags to pass through to the re module, e.g. re.IGNORECASE.
- na : Fill value for missing values.
- regex : If True, assumes the pat is a regular expression.

In [ ]:
# поиск одного из нескольких слов

stats[stats.keyword.str.contains('охотник|фильм|2016')].head()

### Упражнение
Отфильтруйте датафрейм stats по поисковым запросам, которые содержат строку "погода в" и упоминают один из городов: Москва, Новосибирск, Краснодар.

### replace

In [ ]:
'отпуск начнется завтра'.replace('завтра', 'через месяц')

Аналог в pandas на запросах про сериалы:

In [ ]:
serial = stats[stats.keyword.str.contains('сериалы')]
serial.head()

In [ ]:
serial.keyword.str.replace('сериалы', 'книги').head()

### Как учитывать разное написание слов
Самое простое - методы upper и lower

In [ ]:
serial.keyword.str.upper().head()

In [ ]:
serial.keyword.str.lower().head()

### Что делать если нужно учесть формы написания слов?

In [ ]:
stats[stats.keyword.str.contains('рубл')].head()

Почему нельзя просто оставить str.contains('рубл'):

In [ ]:
non_financial_search = 'рубленая котлетка'

### Библиотека [pymystem](https://pypi.org/project/pymystem3/)

In [ ]:
from pymystem3 import Mystem

In [ ]:
search = 'курс гривны к рублю рубли рублях'

In [ ]:
m = Mystem()
lemmas = m.lemmatize(search)
lemmas

In [ ]:
' '.join(lemmas)

### Домашнее задание 3
В датафрейме data создайте столбец lemmas, в котором вычислите леммы поисковых запросов из столбца keyword. Леммы должны иметь строковый тип.

In [ ]:
data = pd.DataFrame({
    'keyword': ['курс гривны к рублю', 'доллары в рубли', '100 долларов в рублях', 'курс рубля'],
    'shows': [125076, 114173, 97534, 53546],
})